[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
statsmodels = "*"
matplotlib = "*"
"collective.checkdocs" = "*"

[dev-packages]

[requires]
python_version = "3.6"
